* {
    background-color: darkgrey;
}
.header {
    padding:20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:rgba(84, 128, 65, 0.699);
    color:whitesmoke;
}

.header h1 {
    display:inline-block;
    font-size: 50px;
    background: none;
}

.header p {
    display: inline;
    background: none;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
    background: none;
}

.header div ul {
    list-style-type: none;
    background: none;
}

.header div ul li {
    display:inline-block;
    position:relative;
    margin-left: 25px;
    text-decoration: underline;
    background: none;
    color: white;
}

div h2 {
    font-size: 40px;
    color: white;
}

.AboutMep {
    display: inline;
    justify-content: right;
    color: white;
    margin-left: 250px;
}

.AboutMe {
    color: white;
}

a {
    color: white;
    background: none;
}

img {
    width: 240px;
    height: 320px;
    display: block;
    margin-left: 250px;
    margin-right: auto;
}

.AboutMe::h2

@media screen and (max-width: 768px) {
    a {
      visibility: hidden;
    }
}