* {
    background-color: rgb(49, 49, 49);
}
.header {
    padding:20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:rgba(84, 128, 65, 0.699);
    color:whitesmoke;
}

.header h1 {
    display:inline-block;
    font-size: 50px;
    background: none;
}

.header p {
    display: inline;
    background: none;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
    background: none;
}

.header div ul {
    list-style-type: none;
    background: none;
}

.header div ul li {
    display:inline-block;
    position:relative;
    margin-left: 25px;
    text-decoration: underline;
    background: none;
    color: white;
}

h2 {
    font-size: 40px;
    color: white;
}

.AboutMep {
    display: block;
    justify-content: right;
    color: white;
    background: none;
}

.AboutMe {
    color: white;
    border: 3px solid;
    border-color: black;
    display: flexbox;
    flex: auto;
    background:linear-gradient(rgba(84, 128, 65, 0.699), black)
}


a {
    color: white;
    background: none;
}

img {
    width: 120px;
    height: 160px;
    display: inline;
    margin-right: auto;
}

.MyWork img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    height: fit-content;
    align-content: center;
}

.MyWork {
    position: relative;
    text-align: center;
    color:white;
    border-style: solid;
    border-width: 3px;
    background:linear-gradient(rgba(84, 128, 65, 0.699), black);
    height: fit-content;
    border-color: black;
}

.LandingPage {
    position: fixed;
    bottom: 8px;
    left:100px;
    background:none
}

.Grid{
    display: grid;
    width: 100%;
    grid-template-columns: auto auto;
    align-content: center;
    place-content: center;
    background: none;
    grid-gap: 30px;
    margin-bottom: 50px;
}
 .LP{
     background: none;
 }
.Grid img {
height: 100%;
margin-bottom:10px
}

.Placeholder {
    background: none;
}

pre {
    background:linear-gradient(rgba(84, 128, 65, 0.699), black);
    color:white;
    margin-top:15px;
    border: 3px solid black;
}

footer {
    text-align: center;
    color: white;
    margin-top:20px;
    margin-bottom: 20px;
}


@media screen and (max-width: 768px) {
    li {
   visibility: hidden;
    }   
    .Grid{
        display: Grid;
        grid-template-columns: auto;
    }
}

@media screen and (max-width: 576px) {
    .Grid{
        display: Grid;
        grid-template-columns: auto;
    }
    .AboutMep{
        width: fit-content;
        height: fit-content;
    }
  }